.wrapper {
  background-color: #e5eafe;
  padding: 10px 20px;
  border-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
