.wrapper {
  width: 100%;
  min-height: 50px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #e5eafe;
  background-color: #f3f3f3;
  padding: 10px 20px;
  color: #001052;
  /* color: white; */
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
  /* background-image: linear-gradient(-225deg, #d7fffe 0%, #fffeff 100%); */
  /* background-image: linear-gradient(120deg, #e9f5fa 0%, #e9f5fa 100%);
  background-image: linear-gradient(120deg, #ebedee 0%, #fdfbfb 100%);*/
}

.text {
  font-weight: 700;
}

.link {
  text-decoration: underline;
}
