.wrapper {
  min-height: 50px;
  display: grid;
  grid-template-columns: auto 100px 100px;
  background-color: #e5eafe;
  padding: 10px 20px;
}

.logo {
  min-width: 200px;
  max-width: 200px;
}

.navItem {
  text-align: center;
  display: grid;
  place-items: center;
}

.navText {
  font-size: 18px;
  font-weight: 700;
}
