.wrapper {
  min-height: 50px;
  display: grid;
  grid-template-columns: auto 100px 100px;
  background-color: #e5eafe;
  padding: 10px 20px;
}

.logo {
  min-width: 200px;
  max-width: 200px;
}

.scissors {
  display: none;
}

.navItem {
  display: grid;
  place-items: center;
}

.navText {
  font-size: 18px;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }

  .scissors {
    display: block;
    min-width: 45px;
    max-width: 45px;
  }

  .navItem {
    place-items: center end;
  }
}
