.wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: #e5eafe;
  border-radius: 20px;
  display: grid;
  place-items: center;
  grid-template-rows: 6fr 2fr 1fr;
  padding: 20px;
  transition: 0.5s;
}

.wrapper:hover {
  background-color: #d3dbfd;
}

.fileUpload {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.fileUpload:hover {
  cursor: pointer;
}

.selectLogo {
  width: 150px;
  height: 150px;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

.button {
  width: 280px;
  height: 60px;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    width: calc(100vw - 40px);
  }
}

@media only screen and (max-width: 600px) {
  .button {
    width: 100%;
  }
}
