.wrapper {
  position: relative;
  display: grid;
  place-items: center;
}

.wrapper {
  cursor: pointer;
}

.fileUpload {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.fileUpload:hover {
  cursor: pointer;
}
