.wrapper {
  position: relative;
  /* border: 1px solid red; */
  width: 400px;
  height: 400px;
  /* line-height: 30px; */
  text-align: center;
  background-color: #e5eafe;
  border-radius: 20px;
  display: grid;
  place-items: center;
}

.wrapper:hover {
  background-color: #d3dbfd;
}

.fileUpload {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.fileUpload:hover {
  cursor: pointer;
}

.selectLogo {
  width: 200px;
  height: 200px;
}
