.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 30px;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.imageArea {
  display: grid;
  place-items: center;
}

.image {
  width: 250px;
}

.textArea {
  display: grid;
  gap: 30px;
}
