.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 100px;
  margin-top: 50px;
}

.title {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.imageArea {
  display: grid;
  place-items: center;
}

.image {
  width: 250px;
}

.textArea {
  display: grid;
  gap: 30px;
}

@media only screen and (max-width: 1050px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
  }

  .imageArea {
    display: none;
  }
}
