@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
