.creatorArea {
  display: grid;
  grid-template-columns: 300px auto 300px;
  gap: 20px;
  margin-top: 50px;
  padding: 0 20px;
  /* border: 3px solid green; */
}

.presets {
  /* border: 3px solid tomato; */
  /* padding: 0 0 0 20px; */
}

.button {
  padding: 10px 30px;
  background-color: gold;
  margin: 0 20px;
  border-radius: 5px;
}

.controls {
  max-width: 1200px;
  margin: 30px auto;
  /* border: 1px solid grey; */
}

.tools {
  /* border: 3px solid tomato; */
  /* padding: 20px; */
}
