.heroArea {
  max-width: 1400px;
  margin: 0 auto;
}

.heroTitle {
  font-size: 40px;
  font-weight: 800;
  margin-top: 50px;
}

.heroSubTitle {
  font-size: 28px;
}

.heroSelect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid grey; */
  margin-top: 50px;
  gap: 30px;
}

.heroDescriptionArea {
  padding: 0 0 0 50px;
}

.imageSelectorArea {
  /* border: 1px solid red; */
  display: grid;
  place-items: center;
}

.creatorArea {
  display: grid;
  grid-template-columns: 300px auto 300px;
  gap: 20px;
  margin-top: 50px;
  padding: 0 20px;
  /* border: 3px solid green; */
}

.presets {
}

.button {
  padding: 10px 30px;
  background-color: gold;
  margin: 0 20px;
  border-radius: 5px;
}

.controls {
  max-width: 1200px;
  margin: 30px auto;
  /* border: 1px solid grey; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.tools {
}

.titleBox {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e5eafe;
  /* background-color: #edeff0; */
  border-radius: 5px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: bold;
}

.descriptionBox {
  padding-left: 10px;
  margin-bottom: 20px;
}

.croppedInfo {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 5fr;
  margin-bottom: 20px;
  text-align: center;
}

.croppedRes {
  font-size: 24px;
  font-weight: bold;
}

.resets {
  margin: 0 auto;
  max-width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.customInput {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
}

.downloadArea {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
